.chart {
    position: relative;

    box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;

    flex: 1 1 auto;

    transition: all .2s ease-in-out;
    
    &.tab-wrapper {
        border-radius: 0 10px 10px 10px;
    }

    display: grid;
    grid-template-columns: 100%;

    &__wrapper {
        position: relative;

        transition: filter .2s ease-in-out;
        &._blur {
            filter: blur(5px);
        }

        &.tab-block {
            grid-area: 1/1;
            &._absolute {
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                @include _992 {
                    position: static;
                    width: auto; height: auto;
                }
            }
            
            border-radius: 0 10px 10px 10px;
    
            opacity: 0; visibility: hidden;
            pointer-events: none;
            transition: opacity .15s ease-in-out, visibility .15s ease-in-out, filter .2s ease-in-out;
    
            /* display: none;
            &._active {
                display: block;
            } */

            /* @include _992 {
                display: block;
            } */

            &._visible {
                opacity: 1; visibility: visible;
                pointer-events: all;
            }
        }
    }

    // .chart__header

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &--col {
            &._auto {
                flex: 1 1 auto;
            }

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            flex: 1 1 100%;

            @include _768 {
                justify-content: stretch;
                flex: 0 1 auto;
            }

        }
    }

    // .chart__sort

    &__sort {
        
        z-index: 2;
        flex: 1 1 100%;

        @include _768 {
            flex: 1 1 auto;
        }

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin: -5px;

        &--title {
            text-align: center;
        }

        // .chart__sort--item

        &--item {
            position: relative;
        }

        // .chart__sort--input

        &--input {
            position: absolute;
            left: 50%; top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0; visibility: hidden;
        }

        &--input:checked + &--label {

            color: var(--white);

            &::before {
                opacity: 1;
            }

            &::after {
                border-color: transparent;
            }

        }

        &--input:disabled + &--label {

            color: var(--gray-dark);
            user-select: none;
            pointer-events: none;

            &::before {
                opacity: 1;
                background:  url("data:image/svg+xml,%3Csvg viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.5 7V3.75C13.5 1.67893 11.8211 0 9.75 0H7.75C5.67893 0 4 1.67893 4 3.75V7H2.75C1.23122 7 0 8.23122 0 9.75V15.75C0 17.2688 1.23122 18.5 2.75 18.5H14.75C16.2688 18.5 17.5 17.2688 17.5 15.75V9.75C17.5 8.23122 16.2688 7 14.75 7H13.5ZM7.75 1.5C6.50736 1.5 5.5 2.50736 5.5 3.75V7H12V3.75C12 2.50736 10.9926 1.5 9.75 1.5H7.75ZM9.5 11.75C9.5 11.3358 9.16421 11 8.75 11C8.33579 11 8 11.3358 8 11.75V13.75C8 14.1642 8.33579 14.5 8.75 14.5C9.16421 14.5 9.5 14.1642 9.5 13.75V11.75Z' fill='%235F5F5F'/%3E%3C/svg%3E%0A")
                center center / 20px no-repeat;
                z-index: 3;
            }

            &::after {
                opacity: 1;
                background: var(--light-4);
                border-color: transparent;
                z-index: -1;
            }

        }

        // .chart__sort--label

        &--label {
            padding: 10px 15px;
            @include _768 {
                padding: 12px 20px;
            }
            margin: 5px;

            border-radius: 10px;

            cursor: pointer;

            font-weight: 500;
            font-size: 0.75rem;
            line-height: 130%;
            // color: var(--text-color);

            //transition: color .2s ease-in-out;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                border-radius: 10px;
                background: var(--gradient);
                z-index: -1;

                opacity: 0;
                transition: opacity .2s ease-in-out;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                border-radius: 10px;
                border: 1px solid var(--gray);
                background: transparent;
                z-index: -2;

                transition: border .2s ease-in-out, background .2s ease-in-out;
            }

            &:hover {
                
                color: var(--white);

                &::after {
                    background: var(--blue);
                }
            }

            &:active {
                
                &::after {
                    background: var(--blue-dark);
                }
            }
        }
    }


    &__legend {
        flex: 1 1 auto;
        display: flex;
        margin-left: -15px;

        & .chart__settings-popup--list {
            margin-top: 0 !important;
        }

        & .chart__settings-popup--item {
            white-space: nowrap;
            flex: 0 1 auto;
            margin: 0 15px;
        }

        & .chart__settings-popup--btn {
            color: var(--text-color-2);
            padding: 14px 10px 14px 44px;

            &::after {
                width: 11px;
            }
        }
    }

    // .chart__update

    &__update {
        display: flex;
        align-items: center;

        font-weight: 600;
        font-size: 0.75rem;
        line-height: 117%;
        color: var(--gray);
        text-align: center;
        @include _768 {
            text-align: left;
        }

        padding: 15px 0;

        & > span span {
            //min-width: 44px;
            display: inline-block;
            white-space: nowrap;
            
        }

        &._min {
            text-align: right;
            
            @include _768 {
                max-width: 170px;
            }
        }
    }

    // .chart__download

    &__download {
        padding: 9px 17px;
        border-radius: 10px;
        border: 1px solid var(--blue);

        font-weight: 500;
        font-size: 0.75rem;
        line-height: 130%;
        color: var(--text-color);
        text-decoration: none;
        text-transform: uppercase;

        display: flex;
        align-items: center;

        transition: color .2s ease-in-out, background .2s ease-in-out, border .2s ease-in-out;

        &:hover {
            color: var(--white);
            background: var(--blue-light);
            border-color: var(--blue-light);

            & .btn-icon {
                &-light {
                    opacity: 0;
                }
                &-dark {
                    opacity: 1;
                }
            }
        }

        &:active {
            background: var(--blue-dark);
        }
    }

    // .chart__settings

    &__settings {
        position: relative;
        // .chart__settings--link

        &--link {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px; height: 40px;

            background: var(--blue);
            border-radius: 10px;

            transition: background .2s ease-in-out;
            
            &:hover {
                background: var(--blue-light);
            }

            &:active {
                background: var(--blue-dark);
            }
        }
    }

    // .chart__settings-popup

    &__settings-popup {

        position: absolute;
        right: 0; top: 0;
        width: min(435px, calc(100vw - 30px));

        opacity: 0; visibility: hidden;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

        &._active {
            opacity: 1; visibility: visible;
        }
        
        // .chart__settings-popup--body

        &--body {
            background: var(--page-bg);
            box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
            padding: 17px 23px 17px 20px;

            width: 100%;

            border-radius: 10px;
        }

        // .chart__settings-popup--header

        &--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        // .chart__settings-popup--title

        &--title {
            font-weight: 600;
            line-height: 117%;
            font-size: 1rem;
            // color: var(--text-color);
        }

        // .chart__settings-popup--close

        &--close {
            width: 40px; height: 40px;

            display: inline-flex;
            align-items: center;
            justify-content: center;

            background: var(--blue);
            border-radius: 10px;

            transition: background .2s ease-in-out;
            
            &:hover {
                background: var(--blue-light);
            }

            &:active {
                background: var(--blue-dark);
            }
        }

        // .chart__settings-popup--list

        &--list {
            display: flex;
            flex-wrap: wrap;
        }

        // .chart__settings-popup--item

        &--item {
            flex: 0 1 50%;
        }

        // .chart__settings-popup--btn

        &--btn {
            position: relative;
            padding: 10px 10px 10px 65px;

            // color: var(--text-color);
            font-size: 0.75rem;

            background: transparent;

            &._active::before {
                background: var(--purple);
            }

            &::after {
                content: '';
                position: absolute;
                left: 30px; top: 50%;
                transform: translate(0,-50%);
                width: 25px; height: 1px;
                border-top: 2px var(--line-type) var(--line-color);
            }

            &::before {
                content: '';
                position: absolute;
                left: 0; top: 50%;
                transform: translate(0,-50%);
                width: 20px; height: 20px;
                border-radius: 6px;
                border: 3px solid var(--page-bg);
                background: transparent;
                box-shadow: 0 0 0 1px var(--light-2);

                transition: background .2s ease-in-out, border .2s ease-in-out;
            }

        }
    }

    // .chart__elem

    &__elem {
        width: 100%;
        position: relative;

        &--item {
            &.y-title-active {
                position: relative;
                &::before {
                    content: attr(data-y-title);
                    position: absolute;
                    left: 0px; top: 0;
                    width: 30px; height: 100%;
                    writing-mode: vertical-lr;
                    text-align: center;
                    transform: scale(-1);

                    font-size: 0.75rem;
                    // color: var(--text-color);

                    z-index: 2;
                }
            }
        }

        &--wrapper {
            min-height: 100%;
            position: relative;
            
            &.chart-crosshair .chart__tooltip::before {
                content: '';
                position: absolute;
                left: 50%; top: 50%;
                transform: translate(-50%,0);
                
                width: 1px; height: var(--line-height);
                border-right: 1px dashed var(--red);
            }

            &.chart-crosshair .chart__tooltip._right-pos::before {
                left: auto; right: 17px;
                transform: translate(-50%,0);
            }

            &.chart-crosshair {
                padding: 100px 100px 0 100px;
                margin: -100px -100px 0 -100px;
                overflow: hidden;
            }

        }

        // .chart__elem--canvas

        &--canvas {
            width: 100% !important;
            position: relative;
            max-height: 266px;
            opacity: var(--theme-opacity, 1);
            transition: opacity .1s ease-in-out;
            @include _768 {
                max-height: 385px;
            }
            &.bar-chart {
                background: var(--page-bg-2);
            }

        }
    }
    
    // .chart__static-labels

    &__static-labels {

        padding: 10px 0 20px 0;
        margin: 10px 15px 0 35px;

        @include _768 {
            padding: 15px 0 0 0;
            margin: 10px 15px 0 35px;
        }

        border-top: 1px dashed var(--light-3);

        display: flex;
        justify-content: space-between;

        /* width: 100%; */

        position: relative;
        z-index: 11;

        // .chart__static-labels--elem

        &--elem {
            font-size: 0.75rem;
            line-height: 117%;
            // color: var(--text-color);
        }
    }

    // .chart__tooltip

    &__tooltip {

        position: absolute;
        border-radius: 10px;
        transform: translate(-50%,calc(-100% - 5px));
        z-index: 10;

        &._right-pos {
            transform: translate(calc(-100% + 17px),calc(-100% - 5px));
        }

        &._right-pos &--body::before, 
        &._right-pos &--body::after {
            left: auto; right: 1px;
            transform: translate(0%,0px);
        }

        &._right-pos &--body {
            border-radius: 15px 15px 4px 15px;
        }

        max-width: 150px;
        @include _768 {
            max-width: 275px;
        }

        //transition: none !important;

        &--bg {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            z-index: -1;
            border-radius: 10px;

            filter: drop-shadow(0 0 20px rgba(9, 5, 183, 1));
            
        }

        // .chart__tooltip--body

        &--body {
            position: relative;
        
            padding: 7px 5px;
            min-width: 70px;
            @include _768 {
                padding: 13px 10px;
                min-width: 100px;
            }

            border-radius: 15px;
            background: var(--page-bg);
            border: 1px solid var(--light-blue);

            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            // color: var(--text-color);

            &::before, &::after {
                content: '';
                position: absolute;
                left: 50%; bottom: -20px;
                transform: translate(-50%,0);
                border: 10px solid transparent;
                border-top: 10px solid var(--light-blue);
                /* left: 50%; bottom: 1px;
                transform: translate(-50%,100%);
                width: 20px; height: 11px; */
                /* border-right: ; */
                /* background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_3_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='11'%3E%3Crect width='20' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3_7)'%3E%3Cg filter='url(%23filter0_d_3_7)'%3E%3Cpath d='M-53 -72C-53 -77.5229 -48.5228 -82 -43 -82H63C68.5228 -82 73 -77.5228 73 -72V-8.61289C73 -3.09004 68.5228 1.3871 63 1.3871H47.5577H19.8186C19.2266 1.3871 18.6651 1.64935 18.2851 2.10327L11.5336 10.1681C10.7342 11.123 9.26584 11.123 8.46644 10.1681L1.71493 2.10327C1.33493 1.64935 0.773361 1.3871 0.181375 1.3871H-43C-48.5228 1.3871 -53 -3.09006 -53 -8.6129V-72Z' fill='white'/%3E%3Cpath d='M-43 -81.5H63C68.2467 -81.5 72.5 -77.2467 72.5 -72V-8.61289C72.5 -3.36619 68.2467 0.887093 63 0.887093H47.5577H19.8186C19.0786 0.887093 18.3767 1.21491 17.9017 1.78232L11.1502 9.84717C10.5506 10.5633 9.44938 10.5633 8.84983 9.84717L2.09832 1.78232C1.62332 1.21491 0.921356 0.887093 0.181374 0.887093H-43C-48.2467 0.887093 -52.5 -3.3662 -52.5 -8.61291V-72C-52.5 -77.2467 -48.2467 -81.5 -43 -81.5Z' stroke='%237482E3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3_7' x='-73' y='-100' width='166' height='132.884' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.034818 0 0 0 0 0.0209028 0 0 0 0 0.716667 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3_7'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3_7' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat; */
            }

            &::after {
                border-top: 10px solid var(--page-bg);
                bottom: -19px; 
            }

            /* &::after {
                content: '';
                position: absolute;
                left: 50%; bottom: -11px;
                width: 12px; height: 12px;
                transform: translate(-50%,50%);
                border-radius: 50%;
                background: var(--blue);
                border: 3px solid #6E7AC9;
            } */
        }

        // .chart__tooltip--title

        &--title {
            font-weight: 500;
            font-size: 0.75rem;
            margin: 0;
            @include _768 {
                margin: 0 0 5px 0;
            }
            line-height: 117%;
        }

        // .chart__tooltip--date

        &--date {
            margin-top: 3px;
            font-size: 0.75rem;
            line-height: 130%;
        }

        // .chart__tooltip--price

        &--price {
            margin-top: 3px;

            color: var(--pink);
            font-size: 0.75rem;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 117%;
        }

        // .chart__tooltip--ratio

        &--ratio {
            margin-top: 3px;

            color: var(--blue);
            font-size: 0.75rem;
            font-weight: 600;
            line-height: 117%;
        }

        &--param {
            font-size: 0.75rem;
            @include _768 {
                padding: 2px 0;
            }
            line-height: 133%;
            // color: var(--text-color);
            display: block;
            padding: 1px 0;

            & span {
                font-weight: 600;
            }
        }
    }
    
    // .chart__labels

    &__labels {
        
        // .chart__labels--list

        &--list {
            display: flex;
            justify-content: space-between;

            padding-right: 30px;
        }

        // .chart__labels--elem

        &--elem {
            font-size: 0.625rem;
            transform: rotate(-45deg);
            width: 15px;
            @include _768 {
                font-size: 0.75rem;
                transform: rotate(0deg);
                width: auto;
            }
            // color: var(--text-color);

        }
    }

    // .chart__table

    &__table {
        max-height: 100%;
        padding: 15px 0;
        @include _1025 {
            padding: 0;
        }

        // .chart__table--head

        &--head {
            display: grid;
            grid-template-columns: var(--grid-template);

            padding-bottom: 6px;

            min-width: var(--min-width);
        }

        // .chart__table--name

        &--name {
            font-weight: 400;
            font-size: 0.75rem;
            line-height: 117%;
            color: var(--gray);
            text-align: center;

            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }
        }

        // .chart__table--body

        &--body {
            min-width: var(--min-width);
        }

        // .chart__table--item

        &--item {
            display: grid;
            grid-template-columns: var(--grid-template);

            &:not(:first-child) {
                border-top: 1px dashed var(--light-2);
            }
        }

        // .chart__table--param

        &--param {
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 140%;
            // color: var(--text-color);
            text-align: center;
            &:first-child {
                text-align: left;
            }
            &:last-child {
                text-align: right;
            }

            //transition: color .2s ease-in-out;
        }

        // .chart__table--min-schedule

        &--min-schedule {
        }
    }

}

.bar-chart {
    position: relative;
    height: 50px; width: 100%;

    margin-top: 15px;
    @include _768 {
        margin-top: 0;
    }

    @include _768 {
        height: 80px;
    }
}

.chart-mask {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;

    & rect {
        
    }
}

