.login-header {
    position: absolute;
    left: 0; top: 0;
    width: 100%;

    z-index: 99;
}

.header {

    width: 100%;
    z-index: 100;
    padding-top: 7px;

    @include _992 {
        min-height: 75px;

        display: flex;
        align-items: center;
    }

    // .header__container

    &__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        width: 100%;
    
    }

    &__col-auto {
        flex: 1 1 auto;
    }

    &__nav {
        flex: 1 1 auto;

        &._active &--wrapper {
            opacity: 1; visibility: visible;
        }

        &--wrapper {
            position: fixed;
            left: 0; top: 0;
            height: var(--height-screen, 100vh);
            background: var(--page-bg);
            z-index: 2;
            
            overflow-y: auto;

            opacity: 0; visibility: hidden;
            transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

            @include _992 {
                align-items: center;
                position: static;
                height: auto;
                background: transparent;
                overflow-y: visible;

                opacity: 1; visibility: visible;

                transition: none;
            }
        }

        &--header {
            position: sticky;
            top: 0; left: 0;
            z-index: 2;

            background: var(--page-bg);

            @include _992 {
                position: static;
                background: transparent;
                z-index: auto;
            }

            display: flex;
            align-items: center;
            flex-wrap: wrap;

            flex: 1 1 auto;
            @media (min-width: 1401px) {
                flex: 0 1 auto;
            }

            //position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                z-index: -1;
                background: var(--dark-gradient);
        
                opacity: 0;
                transition: opacity .2s ease-in-out;
            }
        
            &::after {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                z-index: -1;
                background: rgba(0, 0, 0, 0.3);
        
                opacity: 0;
                transition: opacity .2s ease-in-out;
            }
        }

        &--body {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            min-height: 100%;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                z-index: -1;
                background: var(--dark-gradient);
        
                opacity: 0;
                transition: opacity .2s ease-in-out;
            }
        
            &::after {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                z-index: -1;
                background: rgba(0, 0, 0, 0.3);
        
                opacity: 0;
                transition: opacity .2s ease-in-out;
            }

            @include _992 {
                align-items: center;
            }
        }
    }

    // .header__logo

    &__logo {

        // .header__logo--img

        &--img {
        }
    }

    // .header__theme

    &__theme {

        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        // .header__theme--switch

        &--switch {
            outline: none;
            width: 46px; height: 20px;
            border-radius: 50px;
            border: 1px solid var(--light-purple-2);

            transition: border .2s ease-in-out;

            overflow: hidden;

            &._active {
                border-color: transparent;
            }

            background: transparent;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                background: linear-gradient(99.31deg, rgba(31, 58, 153, 0.3) -2.82%, rgba(136, 1, 158, 0.3) 60.21%);

                transition: opacity .2s ease-in-out;
                opacity: 0;
            }
            &::after {
                content: '';
                position: absolute;
                right: 3px; top: 50%;
                width: calc(18px - 3px); height: calc(18px - 3px);
                border-radius: 50%;
                background: linear-gradient(89.6deg, #1F3A99 51.47%, #88019E 91.55%);

                transform: translate(0,-50%);

                transition: right .2s ease-in-out, transform .2s ease-in-out, background .2s ease-in-out;
            }

            &._active::after {
                right: 100%;
                transform: translate(calc(100% + 3px),-50%);
                background: linear-gradient(89.6deg, #FFFFFF 51.47%, #FFFFFF 91.55%);
            }

            &._active::before {
                opacity: 1;
            }
        }

        &--switch._active + &--icon &--icon-light {
            opacity: 0;
        }

        &--switch._active + &--icon &--icon-dark {
            opacity: 1;
        }

        // .header__theme--icon

        &--icon {
            display: grid;

            margin-right: 6px;
        }

        // .header__theme--icon-light

        &--icon-light {
            grid-area: 1/1;
            opacity: 1;

            transition: opacity .2s ease-in-out;
        }

        // .header__theme--icon-dark

        &--icon-dark {
            grid-area: 1/1;
            opacity: 0;

            transition: opacity .2s ease-in-out;
        }

        
    }

    // .header__list

    &__list {
        order: 4;
        @include _992 {
            flex: 1 1 auto;
            order: inherit;
            width: auto;
            border-top: 0;
        }
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        

        margin-bottom: 0;
        border-top: 1px solid var(--light-3);
        
        @include _992 {
            border: 0;
        }
        // .header__list--item

        &--item {
            width: 100%;

            border-bottom: 1px solid var(--light-3);
            @include _992 {
                width: auto;
                border-bottom: 0 solid var(--light-3);
            }
        }

        /* &--item:not(:first-child) &--link {
            border-top: 1px solid var(--light-3);
            @include _992 {
                border-top: 0 solid var(--light-3);
            }
        } */

        // .header__list--link

        &--link {
            width: 100%;
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 117%;
            color: var(--text-color);
            text-decoration: none;
            text-transform: uppercase;

            @include _992 {
                width: auto;
            }
            
            transition: color .2s ease-in-out;

            display: flex;
            align-items: center;

            &:hover {
                color: var(--pink);
            }

            & svg {
                margin-right: 10px;
                @include _992 {
                    margin-right: 5px;
                }
            }
        }

        &--add {
            &-title {
                font-weight: 600;
                color: var(--gray);
                margin-bottom: 7px;
            }

            &-link {
                display: flex;
                font-weight: 500;
                font-size: 0.75rem;
                line-height: 117%;
                color: var(--text-color);
                text-decoration: none;
                text-transform: uppercase;

                transition: color .2s ease-in-out;

                &::before {
                    content: '•';
                    margin-right: 7px;
                    display: inline-block;
                }

                &:hover {
                    color: var(--pink);
                }
            }
        }
    }

    // .header__buy

    &__buy {
        // .header__buy--btn

        order: 5;
        @include _992 {
            order: inherit;
            width: auto;
        }

        width: 100%;

        &--btn {
            width: 100%;

            background: var(--blue);
            color: var(--white);

            display: inline-flex;
            align-items: center;
            justify-content: center;

            padding: 10px 15px;
            border-radius: 10px;

            font-weight: 500;
            font-size: 0.75rem;
            line-height: 117%;
            color: var(--white);
            text-decoration: none;

            transition: background .2s ease-in-out;

            &:hover {
                color: var(--white);
                background: var(--blue-light);
            }

            &:active {
                background: var(--blue-dark);
            }

            & svg {
                margin-right: 10px;
            }
        }
    }

    // .header__select

    &__select {
        position: relative;
        z-index: 2;

        // .header__select--body

        &--body {
            width: 100%;
        }

        // .header__select--selected

        &--selected {
            width: 60px; height: 40px;
            border-radius: 10px;
    
            border: 1px solid var(--light-purple-2);
            background: var(--white);

            transition: background .2s ease-in-out, border .2s ease-in-out;

            display: flex;
            align-items: center;

            & .btn-icon {
                z-index: 2;
            }

            & > svg, & > img {
                z-index: 2;
            }

            &._active {
                background: var(--purple);
                border-color: var(--purple);

                & .btn-icon {
                    &-light {
                        opacity: 0;
                    }
                    &-dark {
                        opacity: 1;
                    }
                }
            }

            &._active &-arrow {
                transform: translate(-50%,0) scaleY(-1);
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }

            &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                background: linear-gradient(99.31deg, rgba(31, 58, 153, 0.3) -2.82%, rgba(136, 1, 158, 0.3) 60.21%);
                opacity: 0;
                border-radius: 10px;
                transition: opacity .2s ease-in-out;
            }

            padding: 0 7px;

            cursor: pointer;

            position: relative;
            z-index: 2;

            &-arrow {
                position: absolute;
                right: 0; top: 50%;
                transform: translate(0,-50%) scaleY(1);
                transition: transform .2s ease-in-out;
                &::before {
                    content: '';
                    position: absolute;
                    right: 8px; top: 50%;
                    width: 11px; height: 6px;
                    transform: translate(0,-50%);
                    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2054 1L5.70544 5L1.20544 1' stroke='url(%23paint0_linear_134_2898)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_134_2898' x1='11.7133' y1='5' x2='11.875' y2='1.32358' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231F3A99'/%3E%3Cstop offset='1' stop-color='%2388019E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
                    center / contain no-repeat;
                    
                    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
                }
                &::after {
                    content: '';
                    position: absolute;
                    right: 8px; top: 50%;
                    width: 11px; height: 6px;
                    transform: translate(0,-50%);
                    background: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2056 1L5.70557 5L1.20557 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
                    center / contain no-repeat;
    
                    opacity: 0;
                    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
                }
            }
        }

        &--selected._active + &--block {
            opacity: 1; visibility: visible;
        }

        &--block {
            position: absolute;
            right: 0; top: 100%;
            &._left {
                left: 0;
            }
            width: 100%;

            transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
            opacity: 0; visibility: hidden;
        }

        // .header__select--list

        &--list {
            margin: 0; padding: 0;
            
            width: 100%;

            padding-top: 10px;

            border-radius: 0 0 10px 10px;
    
            border: 1px solid var(--light-3);
            background: var(--page-bg);

            transition: border .2s ease-in-out;

            /* &::before {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;
                background: var(--dark-gradient);
                border-radius: 0 0 10px 10px;

                opacity: 0;
                transition: opacity .2s ease-in-out;
            } */
        }

        // .header__select--item

        &--item {
            
        }

        // .header__select--link

        &--link {
            display: grid;
            justify-content: center;

            & > * {
                grid-area: 1/1;
                z-index: 2;

                transition: opacity .2s ease-in-out;
            }

            &-dark {
                opacity: 0;
            }

            &-light {
                opacity: 1;
            }

            padding: 5px;
            width: 100%;

            position: relative;
            z-index: 2;
        }
    }

    // .header__help

    &__help {
        transform: translate(0,10px);
        min-width: 240px;

        border-radius: 10px;
        box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
        background: var(--page-bg);

        // .header__help--list

        &--list {
            margin: 0; padding: 0;
        }

        // .header__help--li

        &--li {
            padding: 0;
        }

        // .header__help--link

        &--link {
            width: 100%;
            padding: 7px 22px;

            display: flex;
            align-items: center;
            
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 117%;
            color: var(--text-color);
            text-decoration: none;

            &:hover {
                background: var(--light);
                color: var(--text-color);
            }

            &:active {
                background: var(--light-purple-2);
            }

            color: var(--text-color);
            transition: color .2s ease-in-out, background .2s ease-in-out;

            & svg {
                width: 30px;
            }

            & svg path {
                stroke: var(--text-color);
                transition: stroke .2s ease-in-out;
            }
        }

        // .header__help--block

        &--block {
            border-top: 1px solid var(--light-2);
            padding: 10px 10px 5px 20px;
        }

        // .header__help--min-title

        &--min-title {
            color: var(--gray);
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 117%;

            margin-bottom: 7px;
        }

        // .header__help--alt-list

        &--alt-list {
            margin: 0; padding: 0;
        }

        // .header__help--alt-li

        &--alt-li {
            padding: 0;

            display: flex;
            align-items: center;
            &::before {
                content: '•';
                margin-right: 10px;
            }
        }

        // .header__help--alt-link

        &--alt-link {
            text-decoration: none;
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 117%;
            color: var(--text-color);
            text-decoration: none;

            transition: color .2s ease-in-out;
            
            &:hover {
                color: var(--pink);
            }
        }

        // .header__help--footer

        &--footer {
            padding: 0 6px 0 6px;

            display: inline-flex;
            flex-wrap: wrap;
            justify-content: center;
            /* display: flex;
            flex-wrap: wrap; */

            /* display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center; */
        }

        // .header__help--footer-link

        &--footer-link {
            display: inline;
            font-size: 0.625rem;
            text-decoration: none;
            line-height: 120%;
            padding: 0 2px;
            color: var(--gray);

            transition: color .2s ease-in-out;

            &:hover {
                color: var(--pink);
            }
        }
    }

    &__lang {
        margin-top: -10px;
    }

    // .header__profile

    &__profile {
        order: 3;
        @include _992 {
            order: inherit;
            width: auto;
        }

        min-width: 267px;

        display: flex;
        align-items: center;

        position: relative;

        width: 100%;

        border-radius: 10px;
        box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
        background: var(--page-bg);
        transition: background .2s ease-in-out;

        // .header__profile--avatar

        &--avatar {
        }

        // .header__profile--avatar-img

        &--avatar-img {
            border-radius: 11px;
        }

        // .header__profile--info

        &--info {
            flex: 1 1 auto;

            display: flex;
            flex-direction: column;

            line-height: 117%;

            padding-left: 15px;
            @include _992 {
                padding-left: 13px; padding-right: 4px;
            }
        }

        // .header__profile--name

        &--name {
            font-weight: 600;
            font-size: 0.75rem;
            color: var(--text-color);
            transition: color .2s ease-in-out;
        }

        // .header__profile--date

        &--date {
            display: block;
            margin-top: -3px;
            font-size: 0.625rem;
            color: var(--text-color);
            transition: color .2s ease-in-out;

            & mark {
                background: transparent;
                color: var(--green);
            }
        }

        // .header__profile--settings

        &--settings-open {
            padding: 15px;

            &:hover svg path {
                fill: var(--pink);
            }

            & svg path {
                fill: var(--text-color);
                transition: fill .2s ease-in-out;
            }
        }

        // .header__profile--settings
    
        &--settings {
            position: absolute;
            left: 0; top: 0;

            width: 100%; min-height: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            border: 1px solid var(--light-3);
            background: var(--page-bg);
            box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
            border-radius: 10px;

            transition: background .2s ease-in-out, opacity .2s ease-in-out, visibility .2s ease-in-out;
            opacity: 0; visibility: hidden;

            &._active {
                opacity: 1; visibility: visible;
            }

        }

        // .header__profile--settings-list

        &--settings-list {
            display: flex;
            flex-direction: column;

            margin: 0; padding: 0;
        }

        // .header__profile--settings-li

        &--settings-li {
            margin: 0; padding: 0;
        }

        // .header__profile--settings-link

        &--settings-link {
            display: block;
            padding: 5px 0 5px 21px;

            font-weight: 600;
            font-size: 0.75rem;
            line-height: 117%;
            text-decoration: none;
            color: var(--text-color);
            transition: color .2s ease-in-out;
            
            &:hover {
                color: var(--purple);
            }
        }

        // .header__profile--settings-close

        &--settings-close {
            width: 42px; align-self: normal;
            border-radius: 10px;
            background: var(--blue);

            transition: background .2s ease-in-out;

            &:hover {
                background: var(--blue-light);
            }

            &:active {
                background: var(--blue-dark);
            }
        }
    
    }

    // .header__mob-footer

    &__mob-footer {
        order: 10;

        width: 100%;
        justify-content: center;
        &--wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

        }
    }

    // .header__min-link

    &__min-link {
        padding: 0 3px;
        font-size: 0.625rem;
        line-height: 150%;
        color: var(--gray);
        text-decoration: none;

        transition: color .2s ease-in-out;

        &:hover {
            color: var(--blue);
        }
    }
}

._burger {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%; top: 50%;
        width: 50px; height: 50px;
        transform: translate(-50%,-50%);
    }

    width: 20px; height: 20px;

    background: transparent;
    
    /* z-index: 10; */

    transition: all .2s ease-in-out;

    cursor: pointer;

    display: inline-block;
    @include _992 {
        display: none;
    }

    & span {
        position: absolute;
        left: 0;

        width: 100%; height: 2px;
        border-radius: 5px;
        background: var(--text-color);
        transition: transform .2s ease-in-out, top .2s ease-in-out, left .2s ease-in-out;

        &:nth-child(1) {
            top: 15%;
            transform: translate(0,30%);
        }
        &:nth-child(2) {
            top: 50%;
            transform: translate(0, -50%);
            opacity: 1; visibility: visible;
        }
        &:nth-child(3) {
            top: 85%;
            transform: translate(0, -100%);
        }
    }
    &._close-header-menu span {
        &:nth-child(1) {
            top: 50%;
            transform: translate(0, 0%) rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0; visibility: hidden;
        }
        &:nth-child(3) {
            top: 50%;
            transform: translate(0, -0%) rotate(-45deg);
        }

    }
}

._hide-on-mob {
    @media (max-width: 991px) {
        display: none !important;
    }
}

._visible-on-xxl {
    @media (max-width: 1400px) {
        display: none;
    }
    &._show-on-mob {
        @media (max-width: 991px) {
            display: initial;
        }
        /* @media (min-width: 1440px) {
            display: initial;
        } */
    }
}

._visible-on-mob {
    display: inherit;
    @media (min-width: 992px) {
        display: none;
    }
}

._hide-on-xxl {
    @media (min-width: 1401px) {
        display: none;
    }
}
