.investor-profit {

    // .investor-profit__body

    &__body {
        box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
        border-radius: 10px;
        background: var(--page-bg-2);
    }

    // .investor-profit__list

    &__list {
        display: flex;
        flex-direction: column;

        margin: 0; padding: 0;
    }

    // .investor-profit__li

    &__li {

        display: flex;
        justify-content: space-between;

        font-weight: 600;
        font-size: 0.875rem;
        line-height: 14px;
        
        & span {
            color: var(--text-color);
        }
    }
}

