
._main-title {
    font-family: var(--title-font);
    font-weight: 700;
    line-height: 115%;

    font-size: 1.875rem;

    @include _768 {
        font-size: 2.5rem;
    }

    @include _1025 {
        font-size: 3.125rem;
    }
}

._title {
    
    font-family: var(--title-font);
    font-weight: 600;
    color: var(--text-color);
    transition: color .2s ease-in-out;

    font-size: 1.125rem;

    @include _768 {
        font-size: 1.5rem;
    }

    @include _1025 {
        font-size: 1.875rem;
    }
    
    &._min {
        font-size: 1rem;

        @include _1025 {
            font-size: 1.125rem;
        }
    }

    &._super-min {
        font-size: 0.875rem;
        @include _768 {
            font-size: 0.875rem;
        }
        @include _1025 {
            font-size: 0.875rem;
        }
    }
}

._min-title {
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    color: var(--text-color);
    margin: 0;

    &._light {
        color: var(--white);
    }

    transition: color .2s ease-in-out;
}

._section-title {

    font-family: var(--title-font);
    font-weight: 700;

}

._txt-center {
    text-align: center;
}
