html, body {
    font-size: 16px;
    min-height: 100%;
}

@keyframes themeChangeTabDecor {
    0% {
        transform: translateY(100%);
    }
    85% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

body {

    font-family: var(--main-font);
    
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color);

    background: var(--page-bg);
    
    transition: background .2s ease-in-out, color .2s ease-in-out;

    padding-right: var(--popup-padding);
    //overflow-y: scroll;

    &._active {
        overflow: hidden;
    }

    &._popup-active {
        overflow: hidden;
    }

    &._dark-theme {
        --page-bg: #151617;
        --page-bg-2: rgba(21, 22, 23, 0.4);
        --page-bg-3: #232323;
        --light-2: #646464;
        --light-3: #272727;
        --light-4: #272727;
        --text-color: #FFFFFF;
        --text-color-2: #FFFFFF;
        //--text-gradient: linear-gradient(89.6deg, #FFF 51.47%, #FFF 91.55%);
        --gray-dark: #EEECF4;
        --gray-light-2: #232323;
        --light-opacity: rgba(0,0,0,0.7);

        ._text-gradient {
            background: transparent;
            color: var(--white);
        }

        & .wrapper {
            &::before, &::after {
                opacity: 1;
            }
        }

        & .header__nav--body, & .header__nav--header {
            
            &::before, &::after {
                opacity: 1;
            }
            @include _992 {
                &::before, &::after {
                    opacity: 0;
                }
            }
        }

        & .header__select--selected {
            background: var(--page-bg);
            border-color: transparent;

            &-dark {
                opacity: 1;
            }

            &-light {
                opacity: 0;
            }
        }

        & .header__select--selected::before {
            opacity: 1;
        }

        & .header__select--selected-arrow::before {
            opacity: 0;
        }

        & .header__select--selected-arrow::after {
            opacity: 1;
        }

        & .header__select--list::before {
            opacity: 1;
        }

        & .header__select--link {
            &-dark {
                opacity: 1;
            }

            &-light {
                opacity: 0;
            }
        }

        & .header__help--link {
            &:hover {
                background: #292929;
            }

            &:active {
                background: #222;
            }
        }

        & .btn-icon {
            &-light {
                opacity: 0;
            }
            &-dark {
                opacity: 1;
            }
        }

        & .chart__tooltip--body::before {
            background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_3_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='11'%3E%3Crect width='20' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3_7)'%3E%3Cg filter='url(%23filter0_d_3_7)'%3E%3Cpath d='M-53 -72C-53 -77.5229 -48.5228 -82 -43 -82H63C68.5228 -82 73 -77.5228 73 -72V-8.61289C73 -3.09004 68.5228 1.3871 63 1.3871H47.5577H19.8186C19.2266 1.3871 18.6651 1.64935 18.2851 2.10327L11.5336 10.1681C10.7342 11.123 9.26584 11.123 8.46644 10.1681L1.71493 2.10327C1.33493 1.64935 0.773361 1.3871 0.181375 1.3871H-43C-48.5228 1.3871 -53 -3.09006 -53 -8.6129V-72Z' fill='%23151617'/%3E%3Cpath d='M-43 -81.5H63C68.2467 -81.5 72.5 -77.2467 72.5 -72V-8.61289C72.5 -3.36619 68.2467 0.887093 63 0.887093H47.5577H19.8186C19.0786 0.887093 18.3767 1.21491 17.9017 1.78232L11.1502 9.84717C10.5506 10.5633 9.44938 10.5633 8.84983 9.84717L2.09832 1.78232C1.62332 1.21491 0.921356 0.887093 0.181374 0.887093H-43C-48.2467 0.887093 -52.5 -3.3662 -52.5 -8.61291V-72C-52.5 -77.2467 -48.2467 -81.5 -43 -81.5Z' stroke='%237482E3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3_7' x='-73' y='-100' width='166' height='132.884' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.034818 0 0 0 0 0.0209028 0 0 0 0 0.716667 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3_7'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3_7' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
            center / contain no-repeat;
        }

        & .tooltip-arrow::after {
            background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_3_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='11'%3E%3Crect width='20' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3_7)'%3E%3Cg filter='url(%23filter0_d_3_7)'%3E%3Cpath d='M-53 -72C-53 -77.5229 -48.5228 -82 -43 -82H63C68.5228 -82 73 -77.5228 73 -72V-8.61289C73 -3.09004 68.5228 1.3871 63 1.3871H47.5577H19.8186C19.2266 1.3871 18.6651 1.64935 18.2851 2.10327L11.5336 10.1681C10.7342 11.123 9.26584 11.123 8.46644 10.1681L1.71493 2.10327C1.33493 1.64935 0.773361 1.3871 0.181375 1.3871H-43C-48.5228 1.3871 -53 -3.09006 -53 -8.6129V-72Z' fill='%23151617'/%3E%3Cpath d='M-43 -81.5H63C68.2467 -81.5 72.5 -77.2467 72.5 -72V-8.61289C72.5 -3.36619 68.2467 0.887093 63 0.887093H47.5577H19.8186C19.0786 0.887093 18.3767 1.21491 17.9017 1.78232L11.1502 9.84717C10.5506 10.5633 9.44938 10.5633 8.84983 9.84717L2.09832 1.78232C1.62332 1.21491 0.921356 0.887093 0.181374 0.887093H-43C-48.2467 0.887093 -52.5 -3.3662 -52.5 -8.61291V-72C-52.5 -77.2467 -48.2467 -81.5 -43 -81.5Z' stroke='%237482E3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3_7' x='-73' y='-100' width='166' height='132.884' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.034818 0 0 0 0 0.0209028 0 0 0 0 0.716667 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3_7'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3_7' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
            center / contain no-repeat;
        }

        & .trader__tab-nav--link {
            
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath opacity='0.4' fill='%23151617' d='M0,100c0,0,100-10.5,100-100v100'/%3E%3C/svg%3E");
            }

            &::after {
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath opacity='0.4' fill='%23151617' d='M100,100C100,100,0,89.5,0,0l0,100'/%3E%3C/svg%3E");
            }
        }


    }
    
}

.mb-track { 
    border-radius: 5px;
    background: var(--light-3);
}

.mb-track-y {
    transform: translate(50%,0);
}

.mb-track-x {
    transform: translate(0%,50%);
}

.mb-bar {
    background: var(--blue);
}

.mb-content {
    padding-bottom: 15px !important;
    margin-bottom: 4px !important;
    &::-webkit-scrollbar { width: 0; }
}

.block {
    border-radius: 10px;
    background: var(--page-bg-2);
    backdrop-filter: blur(5px);
}

.btn-icon {
    display: grid;
    &-light, &-dark {
        grid-area: 1/1;

        transition: opacity .2s ease-in-out;
    }
    &-light {
        opacity: 1;
    }
    &-dark {
        opacity: 0;
    }
}

.offset-check-js {
    position: fixed;
    left: 0; top: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: -2;
        background: var(--dark-gradient);

        opacity: 0;
        transition: opacity .2s ease-in-out;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.3);

        opacity: 0;
        transition: opacity .2s ease-in-out;
    }
}

.main {
    overflow: hidden;

    flex: 1 0 auto;
}

._container {
    padding: 0 var(--container-padding);
    margin: 0 auto;
    max-width: #{$container}px;
    &._min {
        max-width: #{$containerMin}px;
    }
    &._large {
        max-width: #{$containerLarge}px;
    }
    &._super-large {
        max-width: #{$containerSuperLarge}px;
    }
}

/* section,  */._section-padding {
    padding: 75px 0px;

    @include _768 {
        padding: 100px 0px;
    }

    @include _992 {
        padding: 150px 0px;
    }

}

._btn {
    display: inline-block;
    
    padding: 14px 15px;
    @include _768 {
        padding: 20px 15px;
    }
    text-align: center;

    background: var(--blue);
    color: var(--white);

    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    text-decoration: none;
    
    @include _992 {
        font-size: 1.125rem;
    }

    border-radius: 10px;

    transition: transform .2s ease-in-out, background .2s ease-in-out, color .2s ease-in-out;
    z-index: 2;

    overflow: hidden;

    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        left: 0; top: 0;
        z-index: -1;
        width: 100%; height: 100%;
        transition: opacity .2s ease-in-out;
    }

    &::before {
        background: linear-gradient(89.36deg, #1F3A99 19.61%, #88019E 85.99%);
    }

    &::after {
        background: linear-gradient(89.36deg, rgb(136, 1, 158, 0.8) 9.61%, #1F3A99 85.99%);
        opacity: 0;
    }

    &._btn-active {
        &::before, &::after {
            display: none;
        }

        background: var(--green-2);
        pointer-events: none;

    }

    &._min {
        font-size: 0.625rem;
        @include _992 {
            font-size: 0.625rem;
        }
    }

    &._min-2 {
        padding: 14px 20px;

        font-weight: 500;
        font-size: 0.75rem;
        line-height: 117%;
    }

    &._none-accent {
        &::before, &::after {
            display: none;
        }

        background: var(--blue);

        &:hover {
            background: var(--blue-light);
        }

        &:active {
            background: var(--blue-dark);
        }
    }

    &._disabled {
        pointer-events: none;
        background: var(--light);
        color: var(--dark);
        &::before, &::after {
            opacity: 0;
        }
    }

    &:hover {
        color: var(--white);
        &._disabled::after {
            opacity: 0;
        }
        &::after {
            opacity: 1;
        }
    }

    &:active {
        &::after, &::before {
            opacity: 0;
        }
    }
}

.gray {
    color: var(--gray);
}

.dark-gray {
    color: var(--gray-dark);
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.purple {
    color: var(--purple);
}

.medium {
    font-weight: 500;
}

.apexcharts-tooltip {
    box-shadow: none !important;
    overflow: visible !important;
}

.apexcharts-tooltip.apexcharts-theme-light {
    border: 0 !important;
    background: transparent !important;
}

.сustom-prompt {
    cursor: help;
}

.custom-prompt-message {
    position: absolute;

    opacity: 0; visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;

    z-index: 9999;
    pointer-events: none;

    width: 130px;
    transform: translate(0,-13px);
    &._right-pos {
        transform: translate(calc(-50% + 20px),-13px);
        &::before {
            left: 100%;
            transform: translate(-150%,calc(100% - 1px));
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 50%; bottom: 1px;
        transform: translate(-50%,100%);
        width: 20px; height: 11px;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_3_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='11'%3E%3Crect width='20' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3_7)'%3E%3Cg filter='url(%23filter0_d_3_7)'%3E%3Cpath d='M-53 -72C-53 -77.5229 -48.5228 -82 -43 -82H63C68.5228 -82 73 -77.5228 73 -72V-8.61289C73 -3.09004 68.5228 1.3871 63 1.3871H47.5577H19.8186C19.2266 1.3871 18.6651 1.64935 18.2851 2.10327L11.5336 10.1681C10.7342 11.123 9.26584 11.123 8.46644 10.1681L1.71493 2.10327C1.33493 1.64935 0.773361 1.3871 0.181375 1.3871H-43C-48.5228 1.3871 -53 -3.09006 -53 -8.6129V-72Z' fill='white'/%3E%3Cpath d='M-43 -81.5H63C68.2467 -81.5 72.5 -77.2467 72.5 -72V-8.61289C72.5 -3.36619 68.2467 0.887093 63 0.887093H47.5577H19.8186C19.0786 0.887093 18.3767 1.21491 17.9017 1.78232L11.1502 9.84717C10.5506 10.5633 9.44938 10.5633 8.84983 9.84717L2.09832 1.78232C1.62332 1.21491 0.921356 0.887093 0.181374 0.887093H-43C-48.2467 0.887093 -52.5 -3.3662 -52.5 -8.61291V-72C-52.5 -77.2467 -48.2467 -81.5 -43 -81.5Z' stroke='%237482E3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3_7' x='-73' y='-100' width='166' height='132.884' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.034818 0 0 0 0 0.0209028 0 0 0 0 0.716667 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3_7'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3_7' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
        center / contain no-repeat;
    }

    &._visible {
        opacity: 1; visibility: visible;
    }

    &-body {
        border: 1px solid #7482E3;
        box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
        border-radius: 10px;
        padding: 10px;
        background: var(--page-bg);

        font-weight: 500;
        font-size: 0.625rem;
        line-height: 117%;
        color: var(--text-color);
    }
}

.custom-tooltip {
    width: 150px;
    pointer-events: none;
}

.custom-tooltip[data-popper-placement="left"] .tooltip-arrow::after {
    transform: rotate(-90deg) translate(0%,-50%);
    top: 0; left: 0;
}

.tooltip-arrow {
    &::after {
        content: '';
        position: absolute;
        left: 50%; top: -1px;
        transform: translate(-50%,0%);
        width: 20px; height: 11px;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_3_7' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='11'%3E%3Crect width='20' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_3_7)'%3E%3Cg filter='url(%23filter0_d_3_7)'%3E%3Cpath d='M-53 -72C-53 -77.5229 -48.5228 -82 -43 -82H63C68.5228 -82 73 -77.5228 73 -72V-8.61289C73 -3.09004 68.5228 1.3871 63 1.3871H47.5577H19.8186C19.2266 1.3871 18.6651 1.64935 18.2851 2.10327L11.5336 10.1681C10.7342 11.123 9.26584 11.123 8.46644 10.1681L1.71493 2.10327C1.33493 1.64935 0.773361 1.3871 0.181375 1.3871H-43C-48.5228 1.3871 -53 -3.09006 -53 -8.6129V-72Z' fill='white'/%3E%3Cpath d='M-43 -81.5H63C68.2467 -81.5 72.5 -77.2467 72.5 -72V-8.61289C72.5 -3.36619 68.2467 0.887093 63 0.887093H47.5577H19.8186C19.0786 0.887093 18.3767 1.21491 17.9017 1.78232L11.1502 9.84717C10.5506 10.5633 9.44938 10.5633 8.84983 9.84717L2.09832 1.78232C1.62332 1.21491 0.921356 0.887093 0.181374 0.887093H-43C-48.2467 0.887093 -52.5 -3.3662 -52.5 -8.61291V-72C-52.5 -77.2467 -48.2467 -81.5 -43 -81.5Z' stroke='%237482E3'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3_7' x='-73' y='-100' width='166' height='132.884' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='2'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.034818 0 0 0 0 0.0209028 0 0 0 0 0.716667 0 0 0 0.06 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3_7'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3_7' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A")
        center / contain no-repeat;
    }
    &::before {
        display: none;
    }
}

.tooltip-inner {
    border: 1px solid #7482E3;
    box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
    border-radius: 10px;
    padding: 10px;
    background: var(--page-bg);
    text-align: center;

    font-weight: 500;
    font-size: 0.75rem;
    line-height: 117%;
    color: var(--text-color);

    
}

[data-bs-toggle="tooltip"] {
    cursor: help;
}

.chart {
	clear: both;
	position: relative;
}

.bar-chart-wrapper {
    padding-left: 25px;
    background: transparent;
    &::before {
        display: none;
    }
    & canvas {
        background: transparent;
    }
}

.chart-bar {
    width: 100%; height: 100%;
    
    position: relative;

    position: absolute;
    left: 0; top: 0;

    display: flex;
    justify-content: space-between;

    &-title {
        position: absolute;
        left: 10px; top: 0;
        writing-mode: vertical-lr;
        z-index: 11;

        @include _768 {
            top: 12px;
        }
        
        transform: scale(-1) translate(0,0%);

        font-size: 0.75rem;
        line-height: 117%;
        color: var(--text-color);
    }

    /* &::after {
        content: '';
        display: block;
        height: 100%; width: auto;
        flex: 1 1 auto;
    } */
}

.chart-bar-item {
    flex: 1 1 auto;
    height: 100%;
    position: relative;

    margin: 0 0.5px;
    @include _768 {
        margin: 0 1.25px;
    }
}

.chart-bar-item-plus {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 50%;
    background: rgba(68, 156, 98, 0.1);

    border-radius: 6px 6px 0 0;

    & .chart-bar-item-value {
        height: 50%;
        bottom: 0;
        background: #449C62;
        border-radius: 6px 6px 0 0;
    }
}

.chart-bar-item-value {
    position: absolute;
    left: 0;
    width: 100%;
}

.chart-bar-item-minus {
    position: absolute;
    left: 0; top: 50%;
    width: 100%; height: 50%;

    background: rgba(202, 57, 12, 0.1);
    border-radius: 0 0 6px 6px;

    & .chart-bar-item-value {
        height: 50%;
        top: 0;
        background: #CA390C;

        border-radius: 0 0 6px 6px;
    }
}

._row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

._col-full {
    flex: 1 1 100%;
    width: 100%;
}

._col-large {
    display: flex;
    flex-direction: column;

    position: relative;
    z-index: 2;
    
    flex: 1 1 100%;
    width: 100%;
    @include _992 {
        width: auto;
        flex: 0 1 calc(100% - 267px - 20px);
    }
}

._col-min {
    display: flex;
    flex-direction: column;
    
    flex: 1 1 100%;
    width: 100%;
    @include _992 {
        flex: 0 1 267px;
        width: 267px;
    }
}

._block, ._block-2 {
    background: var(--page-bg-2);
    backdrop-filter: blur(5px);

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
}

._block-2 {
    background: var(--page-bg-3);
}

._text-gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.swiper-pagination {

    display: flex;
    align-items: center;
    justify-content: center;
    
    & .swiper-pagination-bullet {
        width: 40px; height: 2px;
        border-radius: 0;
        opacity: 1;
        background: var(--text-color);

        transition: border .2s ease-in-out;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0; top: 50%;
            transform: translate(0,-50%);
            height: 15px; width: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0; top: 50%;
            transform: translate(0,-50%);
            height: 4px; width: 100%;
            background: var(--pink);

            opacity: 0;
            transition: opacity .2s ease-in-out;
        }
    }

    & .swiper-pagination-bullet-active {
        
        background: var(--pink);

        &::after {
            opacity: 1;
        }
        
    }
}

._pt-4 {
    padding-top: 24.5px;
    @include _992 {
        padding-top: 0px;
    }
}

/* .mb-track-y {
    display: none;
} */

.custom-scrollbar {
    &._absolute {
        position: absolute !important;
        left: 0; top: 0;
        width: 100%; height: 100%;
        padding-bottom: 20px;
        & .chart__table--body, & .chart__table--head {
            padding-right: 30px;
        }
        @include _992 {
            padding-bottom: 0px;
            position: relative !important;
            width: auto; height: auto;
            & .mb-content {
                padding-bottom: 0 !important;
            }
            & .chart__table--body, & .chart__table--head {
                padding-right: 0;
            }
        }
    }
}

.mb-track {
    z-index: 4;
}

.os-theme-dark>.os-scrollbar-horizontal, .os-theme-light>.os-scrollbar-horizontal {
    height: 8px;
}

.os-theme-dark>.os-scrollbar-vertical, .os-theme-light>.os-scrollbar-vertical {
    width: 8px;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle, .os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle.active {
    background: var(--pink)
}

.os-theme-dark>.os-scrollbar.os-scrollbar-unusable, .os-theme-dark>.os-scrollbar-horizontal>.os-scrollbar-track, .os-theme-light>.os-scrollbar.os-scrollbar-unusable, .os-theme-light>.os-scrollbar>.os-scrollbar-track {
    background: transparent;

    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0; top: 50%;
        transform: translate(0,-50%);
        width: 100%; height: 50%;
        background: var(--text-color);
        border-radius: 3px;
    }
}

.os-theme-dark>.os-scrollbar.os-scrollbar-unusable, .os-theme-dark>.os-scrollbar-vertical>.os-scrollbar-track, .os-theme-light>.os-scrollbar.os-scrollbar-unusable, .os-theme-light>.os-scrollbar>.os-scrollbar-track {
    background: transparent;

    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%; top: 0%;
        transform: translate(-50%,0%);
        width: 50%; height: 100%;
        background: var(--text-color);
        border-radius: 3px;
    }
}

.os-scrollbar-track.active {
    background: var(--text-color)// !important;
}

.os-scrollbar-handle.active {
    background: var(--pink)// !important;
}

.input {
    padding: 8px 10px;
    height: 40px;
    line-height: 133%;
    border: 1px solid var(--light-purple-2);
    border-radius: 10px;
    color: var(--text-color-2);
    background: var(--page-bg);
}

.select {
    position: relative;
    
    &::after {
        content: '';
        position: absolute;
        right: 20px; top: 50%;
        transform: translate(50%,-50%);
        width: 10px; height: 5px;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2054 1L5.70544 5L1.20544 1' stroke='url(%23select-arrow)' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='select-arrow' x1='11.7133' y1='5' x2='11.875' y2='1.32358' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231F3A99'/%3E%3Cstop offset='1' stop-color='%2388019E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")
        center / contain no-repeat;
        pointer-events: none;
    }
}

.select-elem {
    width: 100%;
    padding: 8px 40px 8px 10px;
    height: 40px;
    line-height: 133%;
    background: var(--page-bg);
    border: 1px solid var(--light-purple-2);
    border-radius: 10px;
    color: var(--text-color-2);
    cursor: pointer;
    -webkit-appearance: none;
}

.messages {

    position: fixed;
    right: var(--popup-padding, 0); bottom: 0;
    padding: 20px;

    z-index: 101;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-width: 284px;

    margin: -5px 0;

    &__gradient {
        width: 1px; height: 1px;
    }

    // .messages__rating

    &__rating {

        &._visible {
            opacity: 1; visibility: visible;
            margin: 5px 0;
        }

        opacity: 0; visibility: hidden;
        height: 90px;
        margin: 0;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out, height .2s ease-in-out, transform .2s ease-in-out, margin .2s ease-in-out;

        width: 220px;
        // .messages__rating--body

        &--body {
            
            width: 100%; min-height: 100%;
            padding: 18px 15px;
            border: 2px solid var(--green);
            background: var(--page-bg);
            box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
            border-radius: 10px;

            text-align: center;
        }

        // .messages__rating--title

        &--title {
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 117%;
            margin-bottom: 15px;
        }

        // .messages__rating--form

        &--form {
        }

        // .messages__rating--list

        &--list {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
        }

        // .messages__rating--input

        &--input {
            opacity: 0; visibility: hidden;
            width: 1px; height: 1px;
        }

        &--label:hover ~ &--label {
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 0.7;
            }
        }

        &--input:checked ~ &--label {
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
            &:hover {
                &::before {
                    opacity: 0;
                }
                &::after {
                    opacity: 1;
                }
            }
        }

        // .messages__rating--label

        

        &--label {
            position: relative;
            display: inline-block;
            width: 26px; height: 20px;
            cursor: pointer;
            &:hover {
                &::before {
                    opacity: 0;
                }
                &::after {
                    opacity: 0.7;
                }
            }

            &::before, &::after {
                content: '';
                position: absolute;
                left: 0; top: 0;
                width: 100%; height: 100%;

                background: center / contain no-repeat;

                opacity: 0;
                transition: opacity .2s ease-in-out;
            }

            &::before {
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70979 6.30776L6.9695 6.27024L7.08616 6.03519L9.75902 0.649745C9.80468 0.557757 9.89815 0.5 10 0.5C10.1018 0.5 10.1953 0.557756 10.241 0.649744L12.9138 6.03519L13.0305 6.27024L13.2902 6.30776L19.2691 7.17168C19.3704 7.18632 19.4551 7.25749 19.4868 7.3558C19.5186 7.45418 19.4917 7.56197 19.4178 7.63362L15.0946 11.824L14.905 12.0078L14.9499 12.268L15.9702 18.1836C15.9877 18.2853 15.9461 18.3878 15.8633 18.4482C15.7807 18.5086 15.6712 18.5168 15.5806 18.4694L10.2316 15.6731L10 15.552L9.76835 15.6731L4.41944 18.4694C4.32885 18.5168 4.21931 18.5086 4.13666 18.4482C4.0539 18.3878 4.01227 18.2853 4.0298 18.1836L5.05013 12.268L5.09501 12.0078L4.9054 11.824L0.582243 7.63362C0.508325 7.56197 0.48137 7.45418 0.513157 7.3558C0.544921 7.25749 0.629572 7.18632 0.730895 7.17168L6.70979 6.30776Z' stroke='%23858585'/%3E%3C/svg%3E%0A");
                opacity: 1;
            }

            &::after {
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6888 0.42746C10.5589 0.16559 10.292 0 10 0C9.70797 0 9.44112 0.16559 9.31115 0.42746L6.63829 5.8129L0.659391 6.67681C0.368977 6.71878 0.127699 6.92253 0.0373754 7.20208C-0.0529485 7.48163 0.0234167 7.78829 0.234245 7.99264L4.5574 12.183L3.53708 18.0986C3.48728 18.3873 3.60534 18.6793 3.84169 18.852C4.07803 19.0246 4.39174 19.0481 4.65108 18.9125L10 16.1162L15.3489 18.9125C15.6083 19.0481 15.922 19.0246 16.1583 18.852C16.3947 18.6793 16.5127 18.3873 16.4629 18.0986L15.4426 12.183L19.7658 7.99264C19.9766 7.78829 20.0529 7.48163 19.9626 7.20208C19.8723 6.92253 19.631 6.71878 19.3406 6.67681L13.3617 5.8129L10.6888 0.42746Z' fill='url(%23paint0_linear_353_9032)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_353_9032' x1='10.362' y1='18.4593' x2='18.4319' y2='18.4003' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%231F3A99'/%3E%3Cstop offset='1' stop-color='%2388019E'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
                opacity: 0;
            }
        }

        
    }

    // .messages__item

    &__item {

        &._visible {
            opacity: 1; visibility: visible;
            transform: translate(0,0);
            height: 70px;
            margin: 5px 0;
        }

        transform: translate(0%,-140px);

        opacity: 0; visibility: hidden; 
        height: 0px;
        margin: 0;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out, height .2s ease-in-out, transform .2s ease-in-out, margin .2s ease-in-out;

        // .messages__item--body

        &._error &--body {
            border-color: var(--red);
        }

        &--body {
            max-width: 244px;
            width: 100%;
            padding: 18px 10px 18px 15px;
            border: 2px solid var(--green);
            background: var(--page-bg);
            box-shadow: 0px 2px 20px rgba(9, 5, 183, 0.06);
            border-radius: 10px;

            display: flex;
            align-items: center;

        }

        // .messages__item--icon

        &--icon {
            margin-right: 18px;
        }

        // .messages__item--text

        &--text {
            
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 117%;

            padding-right: 5px;

            & a {
                text-decoration: none;
                font-weight: 600;
                &:hover {
                    color: var(--green);
                }
            }
        }

        // .messages__item--close-btn

        &--close-btn {
            flex: 0 0 18px;
            width: 18px; height: 18px;
            background: transparent;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%; top: 50%;
                width: 175%; height: 175%;
                transform: translate(-50%,-50%);
            }

            display: inline-flex;
            align-items: center;
            justify-content: center;

            & svg {
                width: 100%; height: 100%;
            }
        }
    }
}

.message-item-timer {
    transition: stroke-dashoffset 1s linear;
}
