

$containerPadding: 15;

$container: 1134 + ($containerPadding * 2);
$containerMin: 1000 + ($containerPadding * 2);
$containerLarge: 1336 + ($containerPadding * 2);
$containerSuperLarge: 1440 + ($containerPadding * 2);

:root {
    --title-font: 'Montserrat', Helvetica, Arial, sans-serif;
    --main-font: 'Montserrat', Helvetica, Arial, sans-serif;
    
    --accent: #1F3A99;

    --dark: #262628;
    --dark-2: #151617;
    --light: #EAE7FF;
    --light-2: #DDDFE1;
    --light-3: #EEECF4;
    

    --page-bg: #FFFFFF;
    --page-bg-2: #FFFFFF;
    --text-color: #262628;

    --white: #FFF;
    --black: #000;
    --gray: #858585;
    --gray-dark: #585960;
    --gray-light: #9899A6;
    --gray-light-2: #E2E2E2;
    --blue: #1F3A99;
    --blue-light: #3550b3;
    --blue-dark: #193189;
    --light-blue: #7482E3;
    --purple: #88019E;
    --light-purple: #AC6BD3;
    --light-purple-2: #CCC5FF;
    --pink: #F034B0;
    --green: #12921E;
    --red: #CA390C;
    --yellow: #EFAD10;

    
    --text-gradient: linear-gradient(89.6deg, #1F3A99 51.47%, #88019E 91.55%);
    --gradient: linear-gradient(89.6deg, #1F3A99 51.47%, #88019E 91.55%);
    --gradient-reverse: linear-gradient(89.6deg, #88019E 51.47%, #1F3A99 91.55%);
    --dark-gradient: linear-gradient(99.31deg, rgba(31, 58, 153, 0.3) -2.82%, rgba(136, 1, 158, 0.3) 60.21%);

    --container-padding: 15px;
}

@font-face {
    @include font-include('Montserrat', 400, swap, normal, 'Montserrat-Regular');
}

@font-face {
    @include font-include('Montserrat', 500, swap, normal, 'Montserrat-Medium');
}

@font-face {
    @include font-include('Montserrat', 600, swap, normal, 'Montserrat-SemiBold');
}

