.trader {

    // .trader__tab-nav

    &__tab-nav {

        position: relative;
        z-index: 10;

        &--wrapper {
            /* overflow-x: auto; */
            overflow: hidden;
            margin: -30px; padding: 30px;
            margin-bottom: 0; padding-bottom: 0;

            position: relative;
        }

        // .trader__tab-nav--list

        &--list {
            display: flex;

            padding: 0 0 10px 0; margin: -2.5px;
            @include _768 {
                margin: 0px; padding: 0;
            }
        }

        // .trader__tab-nav--item

        &--item {
            //background: var(--page-bg-2);
            
            margin: 2.5px;

            @include _768 {
                margin: 0px;
                border-radius: 10px 10px 0 0;
            }
        }

        &--item:first-child &--link {
            
            @include _768 {
                border-radius: 10px 10px 0 0;
            }
        }

        &--item._next &--link {
            @include _768 {
                border-radius: 10px 10px 0 10px;
            }
        }

        &--item._active &--link {
            
            background: var(--page-bg-2);

            z-index: 2;
            @include _768 {
                border-radius: 10px 10px 0 0;
                &::before {
                    transform: translateX(-100%);
                    opacity: 1;
                }
    
                &::after {
                    transform: translateX(100%);
                    opacity: 1;
                }
            }
            
        }

        &--item._prev &--link {
            
            @include _768 {
                border-radius: 10px 10px 10px 0;
            }
        }

        // .trader__tab-nav--link

        &--link {
            padding: 10px;
            
            border-radius: 10px;
            box-shadow: 0px -4px 20px rgba(9, 5, 183, 0.06);
            backdrop-filter: blur(5px);

            font-weight: 500;
            font-size: 0.75rem;
            line-height: 117%;

            @include _768 {
                border-radius: 10px 10px 0 0;
                font-weight: 600;
                font-size: 1rem;
                padding: 20px;
            }

            display: block;
            
            background: var(--light-3);
            color: var(--text-color);
            text-decoration: none;

            position: relative;

            &::before, &::after {
                content: '';
                position: absolute;
                bottom: 0;

                width: 15px; height: 15px;

                background: center / contain no-repeat;
                display: none;
                @include _768 {
                    display: block;
                }

                opacity: 0;
                transition: transform .2s ease-in-out, opacity .2s ease-in-out;
            }

            &::before {
                left: 1px;
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Cpath fill='%23FFFFFF' d='M0,100c0,0,100-10.5,100-100v100'/%3E%3C/svg%3E");
            }

            &::after {
                right: 1px;
                background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100'%3E%3Cpath fill='%23FFFFFF' d='M0,0v100h100C100,100,0,89.5,0,0z'/%3E%3C/svg%3E");
            }
            
            &:hover {
                color: var(--text-color);
                background: var(--light-2);
            }

            &:active {
                background: var(--light-3);
            }

            transition: border-radius .2s ease-in-out, background .2s ease-in-out;
        }
    }
}

.chat-link {

    // .chat-link__btn

    &__btn {
        background: linear-gradient(180deg, #2AABEE 0%, #229ED9 99.26%);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%; padding: 20px;

        border-radius: 10px;

        color: var(--white);
        text-decoration: none;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 130%;

        transition: transform .2s ease-in-out;

        &:hover {
            color: var(--white);
            transform: scale(1.005) translate(0,-3px);
        }

        &:active {
            color: var(--white);
            transform: scale(1) translate(0,0);
        }

        & svg {
            margin-right: 7px;
        }
    }
}

